.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

  /* Control the left side */
.left {
    left: 0;
}

  /* Control the right side */
.right {
    right: 0;
    padding-left: 5px;
}

  /* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}