

<div style="text-align:center">
    <h2 style="margin:auto">
    Crossword Puzzle 
    </h2>
</div>
<div>
    <!-- <app-grid class="split left"></app-grid> -->
    <div class="split right">
    <!-- <app-timer></app-timer> -->
    <app-clues ></app-clues>
    </div>
</div>
<router-outlet></router-outlet>
