<div style="padding-left: 10px">
    <h3>Clues</h3>

    
    <h4>Down</h4>
    <p>1. Effect of winter on landscape of pale eastern province</p>
    <p>3. Backing large truck containing protective clothing quenches thirst</p>
    <p>5. Navigable in winter, but immigration agency is absent</p>
    <p>7. Service animal up at your stamping grounds, achieving divinity</p>
    

    <h4>Across</h4>
    <p>1. Complaining bitterly at the wall in the holy city</p>
    <p>3. Concerning in a state of repose can result in birth abnormalities</p>
    <p>5. Prohibition drinking establishment between typographical measure and board game</p>
    <p>7. Hang American caught by disbursement</p>
    
</div>
